.main-menu-space{
    margin-right: 50px;
    font-weight: bolder; 
  }

/* loader */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse-element {
    animation: pulse 1s infinite;
    max-width: 150px; /* Set the maximum width as per your requirement */
  }

  /* courses */

.course-book{
    font-weight: bolder;
    color: black;
}

.course-discription{
    color: #807575;
}

@media only screen and (max-width: 767px) {
    .list-hide{
       display: none;
    }
 }

 .brand-logo{
  max-width: 50px;
 }


