.main-menu-space{
    margin-right: 50px;
    font-weight: bolder; 
  }

/* loader */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse-element {
    animation: pulse 1s infinite;
    max-width: 150px; /* Set the maximum width as per your requirement */
  }

  /* courses */

.course-book{
    font-weight: bolder;
    color: black;
}

.course-discription{
    color: #807575;
}

@media only screen and (max-width: 767px) {
    .list-hide{
       display: none;
    }
 }

 .brand-logo{
  max-width: 50px;
 }



 /* .fadeInUp{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.fadeInUp.active{
  transform: translateY(0);
  opacity: 1;
} */

.backInLeft,
    .backInRight,
    .fadeInUp,
    .flipInX,
    .shakeX,
    .zoomIn {
      position: relative;
      opacity: 0;
      transition: 1s all ease;
    }

    .backInLeft.active,
    .backInRight.active,
    .fadeInUp.active,
    .flipInX.active,
    .shakeX.active,
    .zoomIn.active {
      transform: translateY(0);
      opacity: 1;
    }

    .backInLeft {
      transform: translateX(-150px);
    }

    .backInRight {
      transform: translateX(150px);
    }

    .fadeInUp {
      transform: translateY(50px); /* Initial translateY value */
    }

    .flipInX {
      transform: perspective(400px) rotateX(90deg);
    }

    .shakeX {
      animation-duration: 1s; /* Adjust the animation duration */
    }

    .zoomIn {
      animation-duration: 2s; /* Adjust the animation duration */
    }